.first-item{
    height: 40px;
    width: 40px;
    background-color: rgb(101, 162, 142);
    margin: 2px;
    
}

.first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(183, 104, 184);
    justify-content: space-evenly;
}

.second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(183, 104, 184);
    justify-content: space-evenly;
    align-items: center;
}

.third{
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(183, 104, 184);
    justify-content: space-evenly;
    align-content:space-evenly;
}